body {
  margin: 0;
}
header {
  padding-top: 60px;
  padding-bottom: 47px;
}
footer {
  background: #575757;
  padding-top: 26px;
  padding-bottom: 46px;
}
.title-1 {
  text-align: center;
  padding-bottom: 46px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  /* identical to box height */
  letter-spacing: 1px;
  color: #000000;
}
.header ul {
  list-style-type: none;
  padding: 0 135px;
  text-align: center;
}
.header li {
  display: inline;
  padding: 0 20px;
}
.header a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  /* identical to box height */
  letter-spacing: 2px;
  color: #000000;
}
.title-2 {
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  /* identical to box height */
  letter-spacing: 1px;
  /* белый */
  color: #ffffff;
}
.footer ul {
  list-style-type: none;
  padding: 32px 135px 0;
  text-align: center;
}
.footer li {
  display: inline;
  padding: 0 20px;
}
.footer a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  /* identical to box height */
  letter-spacing: 2px;
  /* белый */
  color: #ffffff;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icons div {
  width: 47px;
  height: 47px;
  background-color: #FFFFFF;
  margin: 14px;
  padding: 12px 5px 0;
}
.news {
  background: url(Hotel-11.jpg) no-repeat;
  background-size: 100%;
  padding: 48px;
}
.news figure {
  background: #ff7931;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: auto;
  padding: 14px;
}
.news h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.news p {
  width: 456px;
  height: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  text-align: center;
  color: #ffffff;
  margin: auto;
  margin-top: 139px;
  margin-bottom: 48px;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gallery div {
  width: 371px;
  height: 326px;
  padding: 30px;
}
.gallery h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  /* identical to box height */
  /* черный */
  color: #000000;
}
.gallery h1:hover {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  /* identical to box height */
  /* черный */
  color: #FF7931;
}
.gallery p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  color: #000000;
}
.reviews h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  /* identical to box height */
  letter-spacing: 2px;
  color: #000000;
}
.ads {
  background-color: #f7f7f7;
  position: relative;
  z-index: -2;
  height: 556px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.kolo {
  position: relative;
  top: -90px;
  z-index: -1;
  box-sizing: border-box;
  background: white;
  width: 707px;
  height: 707px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 108px 170px;
}
.kolo h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  padding-bottom: 35px;
}
.kolo h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  /* черный */

  color: #000000;
}
.kolo p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  text-align: center;
  color: #000000;
}
.kolo button {
  background-color: #ff7931;
  width: 170px;
  height: 47px;
  margin-top: 30px;
  margin-left: 100px;
  padding: 11px 30px 11px 30px;
  box-shadow: none;
  border: none;
}
.kolo button span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -5px;
  transition: 0.5s;
}
.kolo button span::after {
  content: url(Icons/Arrow_forward.png);
  position: relative;
  top: 8px;
  left: 5px;

}
.line1 {
  width: 1170px;
  height: 0px;
  margin: 45px auto;
  border: 1px solid #ffffff;
  opacity: 0.4;
}
.line {
  width: 100px;
  height: 0px;
  opacity: 0.4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 24px auto;
}
